.card img {
  width: 300px;
  margin-left: auto;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(7, 100, 242);
  background: linear-gradient(
    90deg,
    rgba(7, 100, 242, 1) 12%,
    rgba(166, 237, 251, 1) 74%
  );
  height: 100vh;
}
